*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    /* background-image: url("./img/bg.jpg"); */
    background-color: #0e0b0b;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
span{
    color: #ff004f;
}
.container{
    padding: 10px 2%;
}
#navigation {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease 0s;
}
.sticky{
    background-color: #ff004f;
    padding: 2px 0;
}
nav {
    /* background-color: rgba(252, 197, 214, 0.329); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0;
}
.logo{
    width:60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    text-shadow: 2px 2px 5px #0e0b0b;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
nav ul li .fa{
    font-size: 22px;
    padding: 0 3px;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url("img/satyam--.png"); */
    /* background-image: url("img/satyam.jpg"); */
    background-size: cover;
    background-position: center; 
    border-radius: 30%;
    padding-top: 60px;
}
.header-main {
    display: flex;
    width: 100%;
}
.header-text{
    margin-top: 12%;
    margin-left: 5%;
    font-size: 30px;
    width: 100%;
}
.header-text h1{
    /* width: 60%; */
    font-size: 80px;
}
.header-img {
    width: 70%;
}
.header-img img{
    width: 100%;
    border-radius: 0 300px 400px / 0 0 250px 150px;
    filter: drop-shadow(5px 2px 5px rgb(101, 241, 241));
    transition: .5s;
}
.header-img img:hover{
    /* filter: drop-shadow(5px 5px 20px rgb(101, 241, 241)); */
    filter: drop-shadow(5px 10px 10px rgb(101, 241, 241));
    transform: translateY(-10px);
}
.header-text p {
    display: inline-flex;
    padding: 0 5px;
}
#spin {
    color: #ff004f;
    position: relative;
}
#spin:after{
    content:"";
    animation: spin 20s step-end infinite;
}
.header-text .spin {
    overflow: hidden;
    border-right: .15em solid #ff004f;
    white-space: nowrap;
    letter-spacing: .15em; 
    animation: 
      typing 5s steps(5) infinite,
      blink-caret .75s step-end infinite;
}
  @keyframes spin {
    0%{content: "Programer";}
    25%{content: "Developer";}
    50%{content:"Coder";}
    75%{content:"Designer";}
  }

@keyframes typing {
    /* from { width: 0 }
    to { width: 100% } */
    0% {width:0%;}
    10% {width: 10%;}
    25% {width: 20%;}
    40% {width: 30%;}
    65% {width: 20%;}
    80% {width: 10%;}
    100% {width: 0%;}
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ff004f }
  }
/* About  */
#about{
    padding: 80px 0;
    color: #ababab;
    background-color: #262626;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
    /* mix-blend-mode: lighten; */
    /* filter: drop-shadow(10px,10px,100px,red); */
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 8px 0;
}
.tab-contents ul li span{
    /* color: #b54769; */
    color: #ff004f;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

.skill-icons .skill-icons-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tab-contents .skill-icons img{
    width: 50px;
    /* border: 1px solid #ff004f; */
    border-radius: 50px;
    border-spacing: 50px;
    margin-right: 20px;
    transition: box-shadow .5s;
}
.tab-contents .skill-icons img:hover{
    /* transform: rotateY(360deg); */
    box-shadow: #ff004f 1px 1px 10px 2px;
}
.about-cv{
    display: inline-block;
    margin-top: 15px;
}
.about-cv a{
    font-size: 18px;
    font-weight: 100;
    padding: 10px 30px;
    color: #fff;
    background-color: #ff004f;
    border: 2px solid #ff004f;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.about-cv a:hover{
    color: #ff004f;
    background-color: #fff;
    border: 2px solid #ff004f;
}

/* --------------services---------------- */

#services{
    background-color: #0e0b0b;
    padding: 50px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list p{
    font-size: 15px;
}
.services-list div a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    /* background: #ff004f; */
    background: #ff004f;
    color: #0e0b0b;
    transform: translateY(-10px);
}

/* <---Portfolio-----> */

#portfolio{
    padding: 50px 0;
    background-color: #262626;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    /* width: 50%; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    /* background: linear-gradient(rgba(0,0,0,0.6),#5de0c0); */
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    /* color: #5de0c0; */
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(1.1);    
}
.work:hover .layer{
    height: 100%;
}

/* <-------Contact---------> */
#contact{
    background-color: #0e0b0b;
    margin-top: 50px;
}
.contact-left{
    flex-basis: 30%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left a{
    text-decoration: none;
    color: #fff;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    transition: filter .1s;
    transition: transform .5s;
}
.contact-left p i:hover{
    filter: drop-shadow(0 0 10px #ff004f);
    transform: scale(1.2);
}
.social-media{
    margin-top: 30px;
}
.social-media img{
    width: 30px;
}
.social-media a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-media a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    /* transition: background 0.5s; */
    /* transition: border 0.5s; */
    transition: 0.3s;
}
.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}
.btn:hover{
    box-shadow: 0 0px 20px 2px #ff004f;
    /* border: 1px  solid rgb(201, 199, 199); */
    /* background: #ce0545; */
}


.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0; 
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 12px 25px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


/* <--------- For small screen------------> */
/* nav .fa{
    display: none;
} */
.nav-oc{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-size: 120%, auto, contain;
        background-repeat: no-repeat;
        background-position: -50px 50px;
        height: fit-content;
    }
    .header-text{
        margin-top: 10%;
        margin-bottom: auto;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav {
        justify-content: space-between;
    }
    nav  .nav-oc {
        display: block;
        font-size: 25px;
    }
    nav ul{
        /* background: #ff004f; */
        background-color: #0e0b0b;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul  .nav-oc{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #about .about-col-1{
        width: 0;
        display: none;
    }
    #about .row {
           display: block;
    }
    #about .about-col-2 {
        width: 100%;
    }
    .about-col-2 .sub-title{
        text-align: center;
    }
    .about-col-2 p{
        text-align: center;
        font-size: 18px;
    }
    #services .container{
        margin: 10px 0;
    }
    #services .services-list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #services .sub-title{
        width: 100%;
        text-align: center;
    }
    #contact .row{
        display: flex;
        flex-direction: column;
    }
    .contact-left .sub-title{
        width: 100%;
        text-align: center;
    }
    .contact-right .btn{
        /* float: right; */
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px 30px ;
    }
}
#msg {
    display: block;
    margin-top: -20px;
    color: rgb(210, 255, 143);
}
#footer{
    background-color: #0e0b0b;
}
#footer .social-icons {
    font-size: 22px;
    text-align: center;
}
.social-icons a{
    display: inline-block;
    color: #fff;
    transform: color 0.5s;
    margin: 0 10px;
}

.social-icons a:hover{
    color: #ff004f;
}